includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - src
        - config
    excludePaths:
        - src/Commands/TestCommand.php
        - src/ContextProviders/LaravelRequestContextProvider.php
    tmpDir: build/phpstan

