name: Run tests

on: [push, pull_request]

jobs:
    php-tests:
        runs-on: ${{ matrix.os }}

        strategy:
            fail-fast: false
            matrix:
                php: [8.2, 8.3, 8.4, 8.5]
                laravel: [11.*, 12.*]
                stability: [prefer-lowest, prefer-stable]
                os: [ubuntu-latest, windows-latest]

        name: P${{ matrix.php }} - L${{ matrix.laravel }} - LW${{ matrix.livewire }} -${{ matrix.stability }} - ${{ matrix.os }}

        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}
                  extensions: mbstring, fileinfo, pdo_sqlite
                  coverage: none
                  tools: composer:v2

            -  name: Install dependencies
               run: |
                    composer require "laravel/framework:${{ matrix.laravel }}" --no-interaction --no-update
                    composer update --${{ matrix.stability }} --prefer-dist --no-interaction --no-suggest

            - name: Execute tests
              run: vendor/bin/pest
